
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* remeber this one */
  justify-content: center;

  background-color: aliceblue;
  height: 400px;
  width: 900px;
}

